.footer {
  display: flex;
  align-items: center;
  background-color: var(--cor-azul-2);
  height: 200px;
}

.footer p {
  /* O flex com valor 1 faz o elemento se expandir o máximo possível. */
  flex: 1;
  text-align: center;
  font-size: 2.25em;
  color: var(--cor-azul-1);
}