.menu-bg {
  background-color: var(--cor-azul-2);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.menu a {
  color: var(--cor-branco-1);
}

.menu-logo a {
  /* O em é calculado pegando o PX e dividindo por 16(valor base). */
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  /* O em é calculado pegando o PX e dividindo por 16(valor base). */
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: var(--cor-azul-1);
}