.newsletter {
  background-color: var(--cor-branco-2);
  /* No calc pega 100% do container menos 960px que é o tamanho de container desejado e dividi eles por 2. */
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  /*
    flex-grow -> O valor 1 faz expandir ao máximo cada elemento. 
    flex-shrink -> O valor 1 permite que os itens tenham os seus tamanhos reduzidos para caber no container.
    flex-basis -> Quando algum elemento atingir 240px ele irá quebrar para baixo. 
  */
  flex: 1 1 240px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3em;
  color: var(--cor-cinza-2);
}

.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  color: var(--cor-cinza-1);
  margin-bottom: 10px;
}

.newsletter-form {
  /*
    flex-grow -> O valor 2 faz expandir duas vezes no o elemento em tamanhos máximos iguais.  
    flex-shrink -> O valor 1 permite que os itens tenham os seus tamanhos reduzidos para caber no container.
    flex-basis -> Quando algum elemento atingir 200px ele irá quebrar para baixo. 
  */
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  /*
    flex-grow -> O valor 3 faz expandir três vezes o elemento em tamanhos máximos iguais. 
    flex-shrink -> O valor 1 permite que os itens tenham os seus tamanhos reduzidos para caber no container.
    flex-basis -> Quando algum elemento atingir 260px ele irá quebrar para baixo. 
  */
  flex: 3 1 260px;
  color: var(--cor-cinza-1);
  font-size: 1.25em;
  font-style: italic;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  border: 4px solid var(--cor-azul-2);
  background-color: transparent;
  padding: 15px 10px;
  border-radius: 0;
}

.newsletter-form button {
  flex: 1 1 200px;
  font-size: 2.25em;
  font-style: bold;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--cor-azul-2);
  color: var(--cor-branco-1);
  padding: 15px 10px;
}