.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  /* Top / Right / Bottom / Left */
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produto-item {
  /* flex-grow -> O valor 1 faz expandir ao máximo cada imagem. / flex-shrink -> O valor 1 é o padrão. / flex-basis -> Quando algum elemento atingir 175px ele irá quebrar para baixo. */
  flex: 1 1 175px;
  margin: 10px;
}

.produto-item h2 {
  font-size: 3em;
  color: var(--cor-cinza-2);
  background: var(--cor-branco-2);
  padding: 60px 20px;
}

.roxo {
  border-top: 8px solid var(--cor-roxo-1);
}

.rosa {
  border-top: 8px solid var(--cor-rosa-1);
}

.azul {
  border-top: 8px solid var(--cor-azul-3);
}