.qualidades {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item {
  /*
    flex-grow -> O valor 1 faz expandir ao máximo cada elemento. 
    flex-shrink -> O valor 1 permite que os itens tenham os seus tamanhos reduzidos para caber no container.
    flex-basis -> Quando algum elemento atingir 300px ele irá quebrar para baixo. 
  */
  flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade-item h2 {
  font-size: 2.25em;
  color: var(--cor-cinza-2);
  margin-bottom: 20px;
}

.qualidade-item h2::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

/* Estiliza o terceiro item e depois de pular 3 estiliza novamente e assim infinitamente. */
.qualidade-item:nth-of-type(3n + 1) h2::before {
  background: var(--cor-roxo-1);
}

/* Estiliza o terceiro item e depois de pular 3 estiliza novamente e assim infinitamente. */
.qualidade-item:nth-of-type(3n + 2) h2::before {
  background: var(--cor-rosa-1);
}

/* Estiliza o terceiro item e depois de pular 3 estiliza novamente e assim infinitamente. */
.qualidade-item:nth-of-type(3n + 3) h2::before {
  background: var(--cor-azul-3);
}

.qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: var(--cor-cinza-1);
}